
.container {
    height: 100%;

}

aside {
    background-color: pink;
    /* height: 90%; */
}

article {
    background-color: lightblue;
}

.weatherData {
    border: 2px solid gray;
    /* height: 50%; */
}

#forecast {
    list-style: none;

}
li.forecastDay {
    display: inline;
}





