header {
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}


.container {
    height: 100%;

}

aside {
    background-color: pink;
    /* height: 90%; */
}

article {
    background-color: lightblue;
}

.weatherData {
    border: 2px solid gray;
    /* height: 50%; */
}

#forecast {
    list-style: none;

}
li.forecastDay {
    display: inline;
}





